.vscode/

img/coins
img/.gitignore
img/get_16x16.php
img/get_32x32.php
img/get_128x128.php
README.md

wp-*.php
xmlrpc.php
readme.html
license.txt
index.php
wp-admin/
wp-includes/
wp-content/plugins/akismet
wp-content/plugins/hello.php
wp-content/plugins/index.php
wp-content/themes/twenty*
.htaccess